<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CNeptune" version="1.2.1" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.3.0-beta1" targetFramework="net462" developmentDependency="true" />
  <package id="NConcern" version="4.1.0" targetFramework="net462" />
  <package id="Ninject" version="4.0.0-beta-0134" targetFramework="net462" />
  <package id="NLog" version="4.4.10" targetFramework="net40" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.4.0-preview1-25305-02" targetFramework="net462" />
</packages>