<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="netTcpBinding"/>
    </protocolMapping>
    <services>
      <service behaviorConfiguration="metadataSupport" name="Emroy.Vfs.Service.Impl.VfsService">
        <endpoint binding="netTcpBinding" bindingConfiguration="defaultBinding" contract="Emroy.Vfs.Service.Interfaces.IVfsService"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9099"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="false" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="defaultBinding" receiveTimeout="00:10:00" sendTimeout="00:5:00">
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

</configuration>
